<%- include('../partials/detail') %>
    <section id="detailPage">
        <div class="key" >Airline: <%= flight.airline %></div> 
        <div class="key">Airport: <%= flight.airport %></div>
        <div class="key">Flight #: <%= flight.flightNo %></div>
        <div class="key">Depart: <%= flight.departs %></div>
    </section>

    <div id="dest">
    <h2>Destination</h2>
    <form id="addDestination" method="POST" action="/flights/<%= flight._id %>/destinations">
            <label>Airport:
                <select name="airport">
                    <option value="AUS">AUS</option>
                    <option value="DFW">DFW</option>
                    <option value="DEN" selected>DEN</option>
                    <option value="LAX">LAX</option>
                    <option value="SAN">SAN</option>
                </select>
            </label><br>
            <label>Arrival:
                <input id="date" type="datetime-local" name="arrival">
            </label><br>
        <input id="addInp" type="submit" value="Add Destination">
    </form><br><br><br><br>

    <% if (flight.destinations.length) { %>
        <table id="arrivals" >
            <thead>
                <tr>
                    <th>Airport</th>
                    <th>Arrival</th>
                </tr>
            </thead>
            <tbody>
                <% flight.destinations.forEach(function(f){ %>
                    <tr>
                        <td><%= f.airport %></td>
                        <td><%= f.arrival %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    <% } else { %>
        <h3>No Destinations Yet</h3>
    <% } %>
    </div>

    
    <div id="tickets">
        <% if (tickets.length) { %>
        <label>Tickets</label>
        <% tickets.forEach(function(t) { %>
        <ul>
            <li id="seats"><%= t.seat %><small id="price"> $<%= t.price %></small></p></li>
        </ul>
        <% }); %>
        <% } %>
        <a href="/flights/<%= flight.id %>/tickets/new" id="addTicket">Create Ticket</a>
    </div>

<%- include('../partials/footer') %>

